extends _layout

block content
  nav
    h1 Image Grid

  main#render-thumbnails.thumbnails
    .row
      figure#imageBox
        img(src="loading.gif")

  aside.lightbox#lightbox
    div#render-lightbox
    button#close.close &times;
    button#previous.previous
    button#next.next

  block test-content

  script(src="script.js")
