extends _layout

block content
  nav
    h1 Image Grid

  main#render
    .row#thumbnails
      figure#imageBox
        img(src="loading.gif")

      aside#lightbox
        #stage

  block test-content

  script(src="script.js")
