extends index

block test-content
  #mocha
  link(rel="stylesheet" href="mocha.css")
  script(src="should.min.js")
  script(src="mocha.js")
  script(src="chai.js")
  script mocha.setup('bdd');
  script(src="tests.js")
